* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-hero {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container {
  /* height: 540px; */
  width: 720px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid black;
  gap: 50px;
  margin: 20px 0px;
}
.signup-hero img {
  /* height: 100%; */
  width: 50%;
}
.signup-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  /* background-color: red; */
}
.signup-container h1 {
  font-size: 26px;
  font-weight: 700;
}
.signup-container > p {
  font-size: 14px;
  font-weight: 500;
}
.signup-container > p > span > a {
  text-decoration: none;
  color: #38cb89;
}
.signup-container input {
  font-size: 13px;
  padding-bottom: 5px;
  height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(188, 188, 188);
}
.signup-container > div {
  display: flex;
  gap: 6px;
}
.privacy-box p {
  font-size: 13px;
}
.privacy-box p > span {
  font-weight: 600;
}
.signup-container button {
  padding: 6px 40px;
  background-color: #141718;
  color: white;
  border-radius: 5px;
}
.privacy-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}
.checkbox p {
  font-size: 12px;
}
.privacy-box2 a {
  font-size: 12px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

@media (max-width: 450px) {
  .signup-hero {
    width: 375px;
  }
  .hero-container {
    /* height: 540px; */
    width: 720px;
    box-shadow: none;
    border-radius: 20px;
    /* overflow: hidden;  */
    display: flex;
    flex-direction: column;

    position: relative;
    border: none;
    gap: 50px;
  }
  .signup-hero img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
  .signup-container {
    gap: 26px;
    font-size: 20px;
    width: 300px;
  }
  .signup-container > div {
    align-items: center;
  }
  .privacy-box p > span {
    font-weight: 900;
  }
}
